<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Ali Baba Gyros</string>
		<key>address</key>
		<string>3338 Coolidge Highway, Berkley, MI 48072</string>
		<key>date</key>
		<string>April 22, 2008</string>
		<key>level</key>
		<string>Non-Critical</string>
		<key>description</key>
		<string>Buckets of sunflower seeds stored on floor</string>
		<key>latitude</key>
		<string>42.5026</string>
		<key>longitude</key>
		<string>-83.1838</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BW-3</string>
		<key>address</key>
		<string>1873 East Big Beaver, Troy, MI 48083</string>
		<key>date</key>
		<string>April 22, 2008</string>
		<key>level</key>
		<string>Critical</string>
		<key>description</key>
		<string>No self closure on employee toilet room door in basement. Water spillage on floor. Fixtures soiled, walls worn surfaces.</string>
		<key>latitude</key>
		<real>42.5636</real>
		<key>longitude</key>
		<real>-83.1108</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Dish</string>
		<key>address</key>
		<string>151 Martin St., Birmingham, MI 48009</string>
		<key>date</key>
		<string>March 07, 2007</string>
		<key>level</key>
		<string>Critical</string>
		<key>description</key>
		<string>Floors, walls, ceiling shall be maintained intact and in good repair</string>
		<key>latitude</key>
		<string>42.5459</string>
		<key>longitude</key>
		<string>-83.2155</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Doozy&apos;s</string>
		<key>address</key>
		<string>1827 North Squirrel Rd, Auburn Hills, MI 48326</string>
		<key>date</key>
		<string>November 8, 2007 6:01:54 PM</string>
		<key>level</key>
		<string>Non-critical</string>
		<key>description</key>
		<string>Soiled wiping cloths must be stored in approved sanitizer in between use at correct concentration</string>
		<key>latitude</key>
		<string>42.6667</string>
		<key>longitude</key>
		<string>-83.2201</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Imperial Palace Express</string>
		<key>address</key>
		<string>2840 Fischer Ave, Commerce Township, MI 48390</string>
		<key>date</key>
		<string>April 5, 2007 6:01:54 PM</string>
		<key>level</key>
		<string>Critical</string>
		<key>description</key>
		<string>Utilize gloves or utensils to handle ready to eat food.</string>
		<key>latitude</key>
		<string>42.5794</string>
		<key>longitude</key>
		<string>-83.4878</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lazarri&apos;s</string>
		<key>address</key>
		<string>23600 Liberty St., Farmington, MI 48336</string>
		<key>date</key>
		<string>July 31, 2007 6:01:54 PM</string>
		<key>level</key>
		<string>Critical</string>
		<key>description</key>
		<string>Store raw ground beef below raw fish, store raw shell eggs away from juice OR provide splash guards around eggs.</string>
		<key>latitude</key>
		<string>42.4516</string>
		<key>longitude</key>
		<string>-83.3287</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lazlo&apos;s Brewery &amp; Grill</string>
		<key>address</key>
		<string>26815 Scotia Rd., Huntington Woods, MI 48070</string>
		<key>date</key>
		<string>September 24, 2007 6:01:54 PM</string>
		<key>level</key>
		<string>Critical</string>
		<key>description</key>
		<string>All walk-in must have an air gap on their condensate drain lines.</string>
		<key>latitude</key>
		<string>42.4885</string>
		<key>longitude</key>
		<string>-83.1736</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Oso Burrito</string>
		<key>address</key>
		<string>211 William St., Royal Oak, MI 48067</string>
		<key>date</key>
		<string>April 17, 2007 6:01:54 PM</string>
		<key>level</key>
		<string>Critical</string>
		<key>description</key>
		<string>Observed Turkey in top loader at 48F</string>
		<key>latitude</key>
		<string>42.4923</string>
		<key>longitude</key>
		<string>-83.1328</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Red Onion Grill</string>
		<key>address</key>
		<string>45175 West Ten Mile Rd., Novi, MI 48336</string>
		<key>date</key>
		<string>November 4, 2007 6:01:54 PM</string>
		<key>level</key>
		<string>Critical</string>
		<key>description</key>
		<string>The can opener blade was soiled.</string>
		<key>latitude</key>
		<string>42.4661</string>
		<key>longitude</key>
		<string>-83.4926</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Samurai Sam&apos;s</string>
		<key>address</key>
		<string>31555 Eleven Mile Rd., Farmington Hills, MI 48336</string>
		<key>date</key>
		<string>23 October, 2007 6:01:54 PM</string>
		<key>level</key>
		<string>Critical</string>
		<key>description</key>
		<string>Dishmachine registered 0 parts per million chlorine.</string>
		<key>latitude</key>
		<string>42.4847</string>
		<key>longitude</key>
		<string>-83.3598</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Spaghetti Works</string>
		<key>address</key>
		<string>49095 Pontiac Trail, Wixom, MI 48393</string>
		<key>date</key>
		<string>April 17, 2007 6:01:54 PM</string>
		<key>level</key>
		<string>Critical</string>
		<key>description</key>
		<string>Observed Turkey in top loader at 48F</string>
		<key>latitude</key>
		<string>42.5244</string>
		<key>longitude</key>
		<string>-83.5341</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Taste From Home</string>
		<key>address</key>
		<string>215 West Main St., Northville, MI 48167</string>
		<key>date</key>
		<string>April 17, 2007 6:01:54 PM</string>
		<key>level</key>
		<string>Critical</string>
		<key>description</key>
		<string>Observed Turkey in top loader at 48F</string>
		<key>latitude</key>
		<string>42.4303</string>
		<key>longitude</key>
		<string>-83.4854</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Thai Garden</string>
		<key>address</key>
		<string>719 East Nine Mile Rd., Ferndale, MI 48220</string>
		<key>date</key>
		<string>April 17, 2007 6:01:54 PM</string>
		<key>level</key>
		<string>Critical</string>
		<key>description</key>
		<string>Observed Turkey in top loader at 48F</string>
		<key>latitude</key>
		<string>42.4609</string>
		<key>longitude</key>
		<string>-83.1247</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The Green Gateau</string>
		<key>address</key>
		<string>111 East Nine Mile Rd., Hazel Park, MI 48220</string>
		<key>date</key>
		<string>April 17, 2007 6:01:54 PM</string>
		<key>level</key>
		<string>Critical</string>
		<key>description</key>
		<string>Observed Turkey in top loader at 48F</string>
		<key>latitude</key>
		<string>42.4614</string>
		<key>longitude</key>
		<string>-83.1036</string>
	</dict>
	<dict>
		<key>name</key>
		<string>The Oven</string>
		<key>address</key>
		<string>26000 Evergreen Rd., Southfield, MI 48076</string>
		<key>date</key>
		<string>April 17, 2007 6:01:54 PM</string>
		<key>level</key>
		<string>Critical</string>
		<key>description</key>
		<string>Observed Turkey in top loader at 48F</string>
		<key>latitude</key>
		<string>42.4829</string>
		<key>longitude</key>
		<string>-83.2396</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vien Dong</string>
		<key>address</key>
		<string>300 West Thirteen Mile Rd., Madison Heights, MI 48073</string>
		<key>date</key>
		<string>April 17, 2007 6:01:54 PM</string>
		<key>level</key>
		<string>Critical</string>
		<key>description</key>
		<string>Observed Turkey in top loader at 48F</string>
		<key>latitude</key>
		<string>42.5200</string>
		<key>longitude</key>
		<string>-83.1091</string>
	</dict>
</array>
</plist>
